<!DOCTYPE html>
<html>
	<% include ../layout/header.ejs %>
	<style type="text/css">
		.blockleft{
			width: 40%;
			float: left;
		}
		.blockright{
			width: 59%;
			float: right;
		}
	</style>
	<body>
		<div class="cBody">
			<div class="blockleft">
				<div class="layui-btn-group demoTable">
					<button class="layui-btn layui-btn-sm" data-type="addRole"><i class="layui-icon layui-icon-add-1"></i>新增</button>
					<button class="layui-btn layui-btn-sm" data-type="delRole"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
					<button class="layui-btn layui-btn-sm" data-type="batchDownload"><i class="layui-icon layui-icon-layim-download"></i>批量下载</button>
				</div>
				<div class="toolbar">
					<div class="layui-inline">
					    <input class="layui-input" name="search" id="search" autocomplete="off" placeholder="关键词检索">
					</div>
					<button class="layui-btn layui-btn-sm" data-type="reload">搜索</button>
				</div>
				<div style="clear: both;"></div>
				<table class="layui-hide" id="tab" lay-filter="tb"></table>
			</div>
			<div class="blockright">
				<div class="layui-btn-group demoTable">
					<button class="layui-btn layui-btn-sm" data-type="upload"><i class="layui-icon layui-icon-add-1"></i>上传</button>
					<button class="layui-btn layui-btn-sm" data-type="del"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
				</div>
				<div class="toolbar">
					<div class="layui-inline">
					    <input class="layui-input" name="search1" id="search1" autocomplete="off" placeholder="关键词检索">
					</div>
					<button class="layui-btn layui-btn-sm" data-type="reload1">搜索</button>
				</div>
				<div style="clear: both;"></div>
				<table class="layui-hide" id="tab1" lay-filter="tb1"></table>
			</div>
		</div>
	</body>
	<% include ../layout/footer.ejs %>
	<script>
		href("","任务管理", "项目文件","")
		//角色下拉
		var delegateNum = '<%= delegateNum %>';
		var token = "<%= token %>";
		layui.use(['form', 'laydate','table','jquery'], function() {
			var table = layui.table;
			var form=layui.form;
			var laydate=layui.laydate;
			var $=layui.jquery
		var dirId=''
		table.on('row(tb)',function(obj){
			var data = obj.data;
			var that=obj.tr
			console.log(data)
			$(that).siblings().css("background-color","white")
			$(that).css("background-color","#ddd")
			dirId=data.id
			filetable(data.id,'')
		});
		// 监听工具条
		table.on('tool(tb)', function(obj) {
			var data = obj.data;
			console.log(data)
			    //console.log(obj)
			if(obj.event === 'edit'){
			    layer.open({
					type: 1,
					title:'编辑文件夹名',
					skin: 'layui-layer-rim', //加上边框
					area: ['420px', '240px'], //宽高
					content: '<input class="layui-input dirName" placeholder="文件夹名称" style="width:80%;margin:20px auto;" value="'+data.name+'" />',
					btn: ['确定','取消'],
					btn1:function(index){
						$.ajax({
							url:'/modular_task/updateTaskDir?dirId='+data.id+'&dirName='+$(".dirName").val(),
							type:'GET',
							success:function(res){
								console.log(res)
								if(res.status=="ok"){
									layer.close(index);
	                				table.reload('tabReload')
								}else {
									layer.msg(res.message);
								}
							}
						})
					},
					btn2:function(){
	//								alert("2")
					},
				});
			}else if(obj.event === 'del'){
				var ids=[]
				ids.push(data.id)
				console.log(ids)
				layer.confirm('确定要删除选中的项吗？',function(index){
	                $.ajax({
	                    type:'post',
						dataType:"json",
	                    url:'/modular_task/removeTaskDir?ids='+JSON.stringify(ids),
	                    success:function(data){
							console.log(data)
	                        if(data.status=="ok"){
								ids=[]
	                           table.reload('tabReload', {
									page: {
										curr: 1
									},
									where: {
//										page: 1
									}
								});
	                         }
	                       layer.msg(data.message);
	                    },error:function(code){   
	                        parent.layer.msg('操作失败!',{icon: 5,time:1000});  
	                    }
	                });
	            })
			}
		});
		table.on('tool(tb1)', function(obj) {
			var data = obj.data;
			console.log(data)
			    //console.log(obj)
			if(obj.event === 'edit'){
			    layer.open({
					type: 1,
					title:'编辑文件名',
					skin: 'layui-layer-rim', //加上边框
					area: ['420px', '240px'], //宽高
					content: '<input class="layui-input fileName" placeholder="文件名称" style="width:80%;margin:20px auto;" value="'+data.fileName+'" />',
					btn: ['确定','取消'],
					btn1:function(index){
						$.ajax({
							url:'/modular_task/updateFileName?dirId='+data.id+'&dirName='+$(".fileName").val(),
							type:'GET',
							success:function(res){
								console.log(res)
								if(res.status=="ok"){
									layer.close(index);
	                				filetable(dirId,'')
								}
							}
						})
					},
					btn2:function(){
	//								alert("2")
					},
				});
			}else if(obj.event === 'del'){
				var ids=[]
				ids.push(data.id)
				console.log(ids)
				layer.confirm('确定要删除选中的项吗？',function(index){
	                $.ajax({
	                    type:'post',
						dataType:"json",
	                    url:'/modular_task/removeFileArray?ids='+JSON.stringify(ids),
	                    success:function(data){
							console.log(data)
	                        if(data.status=="ok"){
								ids=[]
	                           	filetable(dirId,'')
	                         }
	                       layer.msg(data.message);
	                    },error:function(code){   
	                        parent.layer.msg('操作失败!',{icon: 5,time:1000});  
	                    }
	                });
	            })
			}
		});
		table.render({
			elem: '#tab',
			url: "/modular_task/projectFolderlist?delegateNum="+delegateNum,
			cellMinWidth: 10,
			cols: [
				[{checkbox: true},
				{
					field: 'sn',
					align: 'center',
					title: '序号'
				},{
					field: 'name',
					align: 'center',
					title: '文件夹名称',
				},{
					align: 'center',
					title: '操作',
					templet:function(d){
						console.log(d.original)
						if(d.original){
							return '<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>'
						}else{
							return '<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a><a class="layui-btn layui-btn-xs" lay-event="del">删除</a>'
						}
					}
				}]
			],
			id: 'tabReload',
			response: {
		      statusCode: "ok" //重新规定成功的状态码为 200，table 组件默认为 0
		    },
		    parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
		    console.log(res)
		      return {
		        "code": res.status, //解析接口状态
		        "msg": res.message, //解析提示文本
		        "count": res.message.total, //解析数据长度
		        "data": res.message.data //解析数据列表
		      };
		    },
            text: {
                none: '暂无相关数据！'//默认无数据
            },
		});
		window.filetable=function(dirId,keyword){
			$.ajax({
				type: "get",
				url:"/modular_task/listTaskFileUnderDir?dirId="+dirId+"&keyword="+keyword,
				async: true,
				success: function(res) {
					table.render({
						elem: '#tab1',
						data:res.message.data,
						page:true,
						cols: [
							[{checkbox: true},
							{
								field: 'sn',
								align: 'center',
								title: '序号'
							},{
								field: 'fileName',
								align: 'center',
								title: '文件名',
							},{
								align: 'center',
								title: '操作',
								templet:function(d){
									console.log(d.report)
									if(d.report){
										return '<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a><a class="layui-btn layui-btn-xs" href="'+d.fileUrl+'">下载</a>'
									}else{
										return '<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a><a class="layui-btn layui-btn-xs" lay-event="del">删除</a><a class="layui-btn layui-btn-xs" href="'+d.fileUrl+'">下载</a>'
									}
								}
							}]
						],
						id: 'tabReload1',
						response: {
							statusCode: "ok" //重新规定成功的状态码为 200，table 组件默认为 0
						},
						
						text: {
							none: '暂无相关数据！'//默认无数据
						},
					});
				}
			});
		}
		var keyword
		var startDate
		var endDate
		var name
		laydate.render({
		   elem: '#date'
		   ,range: true
		   ,trigger: 'click'
		   ,done: function(value, date){
		        //得到日期生成的值，如：2017-08-18
		      console.log(value.split(" - "))
		      startDate=value.split(" - ")[0]
		      endDate=value.split(" - ")[1]
		      console.log(startDate,endDate)
		    }
		});//日期范围
		var ids=[]
		table.on('checkbox(tb)', function(obj) {
			ids=[]
			var checkStatus = table.checkStatus('tabReload')
		    ,data = checkStatus.data;
		    console.log(data)
		    for(var i=0;i<data.length;i++){
		      	ids[i]=data[i].id
		    }
			console.log(ids)
		});
		var Ids=[]
		table.on('checkbox(tb1)', function(obj) {
			Ids=[]
			var checkStatus = table.checkStatus('tab1')
		    ,data = checkStatus.data;
		    console.log(data)
		    for(var i=0;i<data.length;i++){
		      	Ids[i]=data[i].id
		    }
			console.log(Ids)
		});
		var $ = layui.$, active = {
		    reload: function(){
		      keyword = $('#search').val();
		      //执行重载
		      table.reload('tabReload', {
		        page: {
		          curr: 1 //重新从第 1 页开始
		        }
		        ,where: {
					keyword:keyword,
		        }
		      });
			},
			reload1: function(){
				name = $('#search1').val();
		      //执行重载
		      	filetable(dirId,name)
		    },
		    addRole: function(){ //获取选中数据
			    layer.open({
					type: 1,
					title:'新增文件夹',
					skin: 'layui-layer-rim', //加上边框
					area: ['420px', '240px'], //宽高
					content: '<input class="layui-input dirName" placeholder="文件夹名称" style="width:80%;margin:20px auto;" />',
					btn: ['确定','取消'],
					btn1:function(index){
						$.ajax({
							url:'/modular_task/addTaskDir?delegateNum='+delegateNum+'&dirName='+$(".dirName").val(),
							type:'GET',
							success:function(res){
								console.log(res)
								if(res.status=="ok"){
									layer.close(index);
	                				table.reload('tabReload')
								}else{
									layer.msg(res.message);
								}
							}
						})
					},
					btn2:function(){
	//								alert("2")
					},
				});
		    }
		    ,delRole: function(){
		     //获取选中状态            
	            if(ids.length == 0){
	                layer.msg('批量删除至少选中一项数据',function(){});
	                return false;
	            }
				console.log(ids)
	            layer.confirm('确定要删除选中的项吗？',function(index){
	                $.ajax({
	                    type:'post',
						dataType:"json",
	                    url:'/modular_task/removeTaskDir?ids='+JSON.stringify(ids),
	                    success:function(data){
							console.log(data)
	                        if(data.status=="ok"){
	                           table.reload('tabReload', {
									page: {
										curr: 1
									},
									where: {
//										page: 1
									}
								});
	                         }
	                       layer.msg(data.message);
	                    },error:function(code){   
	                        parent.layer.msg('操作失败!',{icon: 5,time:1000});  
	                    }
	                });
	            })
		   	},
			batchDownload:function(){
				if(ids.length == 0){
					layer.msg('批量下载至少选中一项数据',function(){});
					return false;
				}
				console.log(ids)
				layer.confirm('确定要下载选中的项吗？',function(index){
					window.open("<%=global.base%>/admin/task/downloadMultiDir?dirIdArray="+JSON.stringify(ids)+"&token="+token)
					layer.close(index)
				})
			},
		   	del:function(){
		   		//获取选中状态            
	            if(Ids.length == 0){
	                layer.msg('批量删除至少选中一项数据',function(){});
	                return false;
	            }
				console.log(Ids)
	            layer.confirm('确定要删除选中的项吗？',function(index){
	                $.ajax({
	                    type:'post',
						dataType:"json",
	                    url:'/modular_task/removeFileArray?ids='+JSON.stringify(Ids),
	                    success:function(data){
							console.log(data)
	                        if(data.status=="ok"){
	                           filetable(dirId)
	                         }
	                       layer.msg(data.message);
	                    },error:function(code){   
	                        parent.layer.msg('操作失败!',{icon: 5,time:1000});  
	                    }
	                });
	            })
		   	}
		   	
		   	,upload:function(){
		   		if(dirId==''){
		   			alert('请选择上传文件的文件夹')
		   		}else{
		   			layer.open({
						type: 2,
						title:'文件上传',
						area: ['800px', '400px'], //宽高
						content: '/modular_task/addFolder?dirId='+dirId,
					});
		   		}
		   	}
		};
		  
		  	$('.layui-btn').on('click', function(){
			   var type = $(this).data('type');
			   active[type] ? active[type].call(this) : '';
			});
	});
</script>

</html>