<!DOCTYPE html>
<html>
	<% include ../layout/header.ejs %>
	<style type="text/css">
		#iframe{
			height: 100%;
		}
	</style>
	<body>
		<div class="cBody" style="width: 50%;float: left;">
			<div class="layui-btn-group demoTable">
			  <button class="layui-btn layui-btn-sm" data-type="addRole"><i class="layui-icon layui-icon-add-1"></i>新增</button>
			  <button class="layui-btn layui-btn-sm" data-type="delRole"><i class="layui-icon layui-icon-delete"></i>删除</button>
			</div>
			<div class="toolbar">
				<div class="layui-inline">
				    <input class="layui-input" name="search" id="search" autocomplete="off" placeholder="关键词检索">
				</div>
				<button class="layui-btn layui-btn-sm" data-type="reload">搜索</button>
			</div>
			<table class="layui-hide" id="tab" lay-filter="tb"></table>
		</div>
		<shiro:hasRole name="superadmin">
			<script type="text/html" id="doit">
				<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
			</script>
		</shiro:hasRole>
		<iframe id="iframe" src="" width="" height="" style="width: 50%;float: right;"></iframe>
	</body>
	<% include ../layout/footer.ejs %>
	<script>
		href("","系统设置","客户管理","")
		//角色下拉
		layui.use(['form', 'laydate','table'], function() {
			var table = layui.table;
			var form=layui.form;
			var laydate=layui.laydate
			laydate.render({
			   elem: '#date'
			   ,range: true
			   ,trigger: 'click'
			});//日期范围
		// 监听工具条
		//点击一行
		table.on('row(tb)',function (obj) {
          	console.log(obj.data)
          	var data=obj.data
          	$(obj.tr).parent().find("tr").css("background-color","white")
          	$(obj.tr).css("background-color","#DFDFDF")
          	$("#iframe").attr("src","/modular_users/contacts?enterpriseId="+data.id)
      	})
		table.on('tool(tb)', function(obj) {
			var data = obj.data;
			console.log(data)
			    //console.log(obj)
			if(obj.event === 'edit'){
			    layer.open({
					type: 2,
					title:"客户编辑",
					area: ['800px', '500px'],
					content: '/modular_users/customeredit?enterpriseId='+data.id+'&name='+data.name+'&address='+data.address
				});
			}else if(obj.event === 'deleted'){
				layer.confirm('是否删除"'+data.nickName+'"？',function(){
					$.ajax({
						type:"get",
						url:"/modular_users/resetPassword?id="+data.id,
						async:true,
						success:function(res){
							console.log(res)
							if(res.status=="ok"){
								layer.confirm(res.message, {btn: ['确定']})
							}else{
								layer.msg(res.message,{icon: 5,time:1000})
							}
						},error:function(code){   
	                        parent.layer.msg('操作失败!',{icon: 5,time:1000});  
	                    }
					});
				})
				
			}
		});
		table.render({
			elem: '#tab',
			url: "/modular_users/customerlist",
			cellMinWidth: 10,
			cols: [
				[{checkbox: true},
				{
					field: 'number',
					title: '客户编号',
					align: 'center',
					width:120,
					sort: true
				}, {
					field: 'name',
					align: 'center',
					title: '客户公司名称',
				},{
					field: 'address',
					align: 'center',
					title: '公司地址'
				},{
					align: 'center',
					title: '操作',
					toolbar: '#doit',
					width:100
				}]
			],
			id: 'tabReload',
			page: true,
			response: {
		      statusCode: "ok" //重新规定成功的状态码为 200，table 组件默认为 0
		    },
		    parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
		    console.log(res)
		      return {
		        "code": res.status, //解析接口状态
		        "msg": res.message, //解析提示文本
		        "count": res.message.total, //解析数据长度
		        "data": res.message.data //解析数据列表
		      };
		    },
            text: {
                none: '暂无相关数据！'//默认无数据
            },
		});
		var keyword
		var ids=[]
		table.on('checkbox(tb)', function(obj) {
			ids=[]
			var checkStatus = table.checkStatus('tabReload')
		    ,data = checkStatus.data;
		    console.log(data)
		    for(var i=0;i<data.length;i++){
		      	ids[i]=data[i].id
		    }
			console.log(ids)
		});
		var $ = layui.$, active = {
		    reload: function(){
		      keyword = $('#search').val();
		      //执行重载
		      table.reload('tabReload', {
		        page: {
		          curr: 1 //重新从第 1 页开始
		        }
		        ,where: {
		          	keyword:keyword,
		        }
		      });
		    },    
		    addRole: function(){ //获取选中数据
		      layer.open({
					type: 2,
					title:"客户新增",
					area: ['800px', '500px'],
					content: '/modular_users/customeredit?enterpriseId=0'
				});
		    }
		    ,delRole: function(){
		     //获取选中状态            
	            if(ids.length == 0){
	                layer.msg('批量删除至少选中一项数据',function(){});
	                return false;
	            }
				console.log(ids)
	            layer.confirm('确定要删除选中的项吗？',function(index){
	                $.ajax({
	                    type:'post',
						dataType:"json",
	                    url:"/modular_users/customerdel?ids="+JSON.stringify(ids),
	                    success:function(data){
							console.log(data)
	                        if(data.status=="ok"){
								ids=[]
	                           window.location.reload()
	                         }
	                       layer.msg(data.message);
	                    },error:function(code){   
	                        parent.layer.msg('操作失败!',{icon: 5,time:1000});  
	                    }
	                });
	            })
		   	}
		  };
		  
		  	$('.layui-btn').on('click', function(){
			   var type = $(this).data('type');
			   active[type] ? active[type].call(this) : '';
			});
		  	
	});
</script>
</html>