<!DOCTYPE html>
<html>
	<% include ../layout/header.ejs %>

	<body>
		<div class="cBody">
			<form id="addForm" class="layui-form" action="">
				<div class="console" style="margin-top: 5%;">
					<div class="layui-form-item">
						<div class="layui-inline" style="position: relative;left: 25%;">
							<label class="layui-form-label"><span class="i">*</span><%=category%>名称</label>
							<div class="layui-input-block">
								<input type="text" class="layui-input" lay-verify="required" name="name" id="name" placeholder="请输入名称">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline" style="position: relative;left: 45%;">
							<button class="layui-btn" lay-submit lay-filter="formDemo">保存</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</body>
	<% include ../layout/footer.ejs %>
	<script type="text/javascript">
		var category="<%=category%>"
		console.log(category)
		layui.use('form', function() {
			var form = layui.form
			//监听提交
			form.on('submit(formDemo)', function(data) {
				var value = data.field.name
				console.log(value)
				$.ajax({
					type: "post",
					url: "/modular_users/addOption?category="+category+"&value="+value,
					success: function(res) {
						console.log(res)
						if(res.status == "ok") {
							alert(res.message)
							parent.categoryName(category)
							var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                			parent.layer.close(index);
						} else {
							layer.msg(res.message, {
								icon: 5
							})
						}
					}
				});
				return false;
			});
		});
	</script>

</html>