<script src="/Scripts/amazeui.min.js"></script>
<script src="/layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/layuiadmin/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="/Scripts/app.js"></script>
<script src="/Scripts/jquery.dataTables.min.js"></script>
<script src="/Layer/2.4/layer.js"></script>
<!--验证插件cdn-->
<!-- <script src="/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script> -->
<!-- 通用脚本 -->
<script src="/PageScript/pagepublic.js"></script>
<script src="/Scripts/screen.js"></script>
<script src="/Scripts/href.js" type="text/javascript" charset="utf-8"></script>
<script src="/webuploader/webuploader.js"></script>


</body>
</html>