<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>天合光能股份有限公司</title>
	<meta name="description" content="天合光能股份有限公司">
	<meta name="keywords" content="index">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="icon" type="image/png" href="i/favicon.png">
	<link rel="apple-touch-icon-precomposed" href="i/app-icon72x72@2x.png">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<!--   <link rel="stylesheet" href="Css/amazeui.min.css">-->
	<!-- <link rel="stylesheet" href="Css/loginapp.css">-->
	<link rel="stylesheet" href="/Css/loginNew.css">


	<!--新增-->
	<link href="/Css/styles.css" rel="stylesheet" type="text/css" />
	<link href="/Css/demo.css" rel="stylesheet" type="text/css" />
	<link href="/Css/loaders.css" rel="stylesheet" type="text/css" />


	<script src="/Scripts/jquery.min.js"></script>
	<script type="text/javascript" src="/Scripts/ready.js"></script>
</head>
<style type="text/css">
	#dltext{
		width: 40%;
		height: 30%;
		margin-top: 16%;
		margin-right: 11%;
		float: right;
		background-image: url(/Images/dl_wz1.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	body .login{
		left: 0;
		right: 60%;
	}
</style>
<body data-type="login" class="theme-white" style="background: url(/Images/dl_bj.jpg) 50% 50% no-repeat;background-size:100%;">
	<!--新增-->
	<div id="dllogo" style="background-image:url(/Images/logo_3.png);width: 189px;height: 83px;">
		<!--<img src="/Images/tianhe_logo.png" >-->
	</div>
	<div class="" style="float: left;color:#34498a;font-weight: 600;font-size: 30px;margin: 30px 0 0 10px;">
		常州合创检测技术有限公司
	</div>
	<br>
	<div id="dltext"></div>
	<div class='login'>
		<form method="post" id="loginForm">
			<div class='login_title'>
				<span style="font-weight: 600; font-size: 25px; ">实验室信息管理系统</span>
				<div style="height: 10px;"></div>
				<span style="font-size: 18px; margin-top: 20px;">欢迎登录</span>
			</div>
			<div class='login_fields'>

				<div class='login_fields__user'>
					<div class='icon'>
						<img alt="" src='/Images/sy_yh.png'>
					</div>
					<input id="user-name" name="account" placeholder='请输入用户名' maxlength="16" type='text' autocomplete="off" />

				</div>

				<div class='login_fields__password'>
					<div class='icon'>
						<img alt="" src="/Images/sy_mima.png">
					</div>
					<input id="user-pwd" name="password" placeholder='请输入密码' maxlength="16" type='password' autocomplete="off">

				</div>

				<div class='login_fields__submit'>
					<input type='submit' value='登录'>
				</div>
			</div>
			<div class='success'>
			</div>

		</form>
	</div>

	<div class='authent'>
		<div class="loader" style="height: 44px;width: 44px;margin-left: 28px;">
			<div class="loader-inner ball-clip-rotate-multiple">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<p>认证中...</p>

	</div>
	<div class='authent_'>
		<div class="loader" style="height: 44px;width: 44px;margin-left: 28px;">
			<div class="loader-inner ball-clip-rotate-multiple">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<p>登录成功!</p>
	</div>
	<div class="OverWindows"></div>
</body>
</html>

<!--新增-->
<script src="/Scripts/jquery.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/Treatment.js" type="text/javascript"></script>

<script type="text/javascript" src="/Scripts/amazeui.min.js"></script>
<script type="text/javascript" src="/Scripts/login.js"></script>