<!doctype html>
<html>
<% include ../layout/header.ejs %>
	<link rel="stylesheet" type="text/css" href="/Css/index.css">
	<style type="text/css">
		.downpanel .layui-select-title span {
            line-height: 38px;
        }
        /*继承父类颜色*/
        .downpanel dl dd:hover {
            background-color: inherit;
        }
        ul>li>ul{
        	margin: 0;
        }
	</style>
	<body>
		<div class="cBody">
			<div id="addForm" class="layui-form" action="" >
				
				<div class="console" style="margin-top: 5%;">
					<div class="layui-form-item">
						<label class="layui-form-label">文件下载</label>
						<button class="layui-btn layui-btn-sm" data-type="download" style="width: 80px;margin-left: 6%;">下载</button>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">附件上传</label>
						<div class="layui-input-block">
							<div class="wu-example layui-inline layui-form-label" style="padding-right: 0;">
								<div id="picker" style="width: 80px;float: right;">选择文件</div>
							</div>
							<div class="layui-input-block">
								<div class="flie-height">
									<div id="flie">
										<!--用来存放文件信息-->
										<div id="thelist" class="uploader-list"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline" style="position: relative;left: 45%;">
							<button class="layui-btn" data-type="save">保存</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<% include ../layout/footer.ejs %>
<script type="text/javascript">
	layui.use('form', function(){
			var t = false
			var form = layui.form
			var $ = layui.$, active = {
				download:function(){
					$.ajax({
						type: "get",
						url: "/modular_equipment/downloadPlanSpreadSheet",
						success: function (msg) {
							console.log(msg)
							window.open(msg.message)
						}
					})
				},
				
				//监听提交
				save :function(){
					var index = layer.load(1, {
						shade: [0.1, '#fff'],
						offset: ['154px', '650px'] //0.1透明度的白色背景
					});
					console.log(FileList[0].fileUrl)
					$.ajax({
						type:"post",
						url:"/modular_equipment/uploadPlanSpreadSheet",
						data:{
							url:FileList[0].fileUrl,
						},
						success:function(res){
							console.log(res)
							if(res.status=="ok"){
								layer.close(layer.index);
								alert(res.message)
								parent.location.reload()
								var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
								parent.layer.close(index);
							}else{
								layer.close(layer.index);
								layer.msg(res.message,{icon: 5,time:0,closeBtn:1})
							}
						},
						error:function(){
							layer.close(layer.index);
							layer.msg('接口500',{icon: 5,time:0,closeBtn:1})
						}
					});
					return false;
			},
		}
		$('.layui-btn').on('click', function(){
			   var type = $(this).data('type');
			   active[type] ? active[type].call(this) : '';
		});
		
		});
		
</script>
<script>
	var FileList=[]
	var GUID = WebUploader.Base.guid(); //当前页面是生成的GUID作为标示
		console.log(GUID);
		var uploader = WebUploader.create({
			// swf文件路径
			swf: '../../../public/webuploader/Uploader.swf',
			// 文件接收服务端。
			server: '<%=global.base%>/admin/upload/upload',
			//分片处理大文件
			chunked: true,
			//上传并发数
			threads: 1,

			formData: {
				guid: GUID,
				fileType: "planspreadSheet"
			},
			// 选择文件的按钮。可选。
			// 内部根据当前运行是创建，可能是input元素，也可能是flash.
			pick: {
				id: '#picker',
				multiple: false,
			},
			fileNumLimit: 1,
			accept: {  
	            title: 'Files',  
	            extensions: 'xls,xlsx',
	            mimeTypes: 'application/vnd.ms-excel application/x-excel'  
	                       +',application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'  
	       	},
			// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
			resize: false,
			duplicate: true
		});
		uploader.on('fileQueued', function(file) {uploader.upload()});
		// 文件上传成功,合并文件。
		uploader.on('uploadSuccess', function(file, response) {
			$('#' + file.id).find('span.state').text('已上传');
			uploader.removeFile(file);
			console.log(file)
			console.log(response)
			var File = {}
			var fileType = file.ext;
			var fileNames = file.name.replace(/\s+/g, "");
			var fileUrl = encodeURIComponent(response.message.url)
			var id = file.id;
			var str
			if(fileNames.length > 8) {
				str = fileNames.substring(0, 7) + "..."
			} else {
				str = fileNames
			}
			var chunked = response.message.chunked
			if(chunked) {
				$.post("<%=global.base%>/admin/upload/mergeChunk", {
						fileType: "planspreadSheet",
						fileName: file.name,
						id: file.id,
						totalSize:file.size
					},
					function(data) {
						console.log(data)
						if(data.status!="ok") {
							alert('文件合并失败！');
						} else {
							File.fileName = data.message.key
							File.fileUrl = encodeURIComponent(data.message.url)
							FileList.push(File)
							console.log(File)
							console.log(FileList)
							thelist("#thelist",id, fileType, fileNames, str, data.message.url)
						}
					});
			} else {
				//console.log(FileList)
				File.fileName = fileNames
				File.fileUrl =decodeURIComponent(fileUrl) 
				FileList.push(File)
				console.log(File)
				console.log(FileList)
				thelist("#thelist",id, fileType, fileNames, str, fileUrl)
			}
		});
		uploader.on('uploadError', function(file) {
			console.log("文件上传出错");
			$('#' + file.id).find('div.state').text('上传出错');
		});
	if(FileList!= null&&FileList.length>0) {
		console.log(FileList)
		for(var i = 0; i < FileList.length; i++) {
			var FileName = FileList[i].fileName
			var FileUrl = encodeURIComponent(FileList[i].fileUrl)
			var str
			console.log(FileUrl)
			var FileType = FileName.split(".")
			if(FileName.length > 8) {
				str = FileName.substring(0, 7) + "..."
			} else {
				str = FileName
			}
			var fileType = FileType[FileType.length - 1]
			downfile("#thelist","", fileType, FileName, str, FileUrl)
		}
	}
	function article_del(obj, url) {
		console.log(decodeURIComponent(url))
		console.log(FileList)
		$(obj).parent().remove()
		for(var i = 0; i < FileList.length; i++) {
			console.log(FileList[i].FileUrl)
			if(FileList[i].fileUrl == decodeURIComponent(url)) {
				FileList.splice(i, 1);
			}
		}
	}
</script>