<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>出错了</title>
	</head>
	<body>
      提示：<%=msg%>，即将跳转登录页
	<script>
		setTimeout("location.href='/login';", 1000);
	</script>
	</body>
</html>
