<!DOCTYPE html>
<html>
	<% include ../layout/header.ejs %>
	<style type="text/css">
		html,body{
			height: 100%;
			width: 100%;
		}
		body{
			overflow: scroll;
		}
		img{
			width: 100%;
		}
	</style>
	<body >
		<div style="width: 100%;height: 100%;position: absolute;"></div>
		<img src="/Images/person.jpg"/>
	</body>
	<% include ../layout/footer.ejs %>
	<script type="text/javascript">
		href("","报表统计","资质统计","")
	</script>
</html>
