<!DOCTYPE html>
<html>
	<% include ../layout/header.ejs %>
	<body>
		<div class="cBody">
			<form id="addForm" class="layui-form" action="">
				<div class="console" style="margin-top: 5%;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label"><span class="i">*</span>原密码</label>
					    	<div class="layui-input-block">
					    		<input type="password" class="layui-input" lay-verify="required" autocomplete="off" name="originalPass" id="originalPass">
					    	</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label"><span class="i">*</span>新密码</label>
					    	<div class="layui-input-block">
					    		<input type="password" class="layui-input" lay-verify="required" autocomplete="off" name="newPass" id="newPass">
					    	</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline" style="position: relative;left: 45%;">
							<button class="layui-btn" lay-submit lay-filter="formDemo">保存</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</body>
	<% include ../layout/footer.ejs %>
	<script type="text/javascript">
		layui.use('form', function(){
			var form = layui.form
			//监听提交
			form.on('submit(formDemo)', function(data){
				console.log(data.field)
				$.ajax({
					type:"post",
					url:"/home/modifyPassword",
					async:true,
					data:data.field,
					success:function(res){
						console.log(res)
						if(res.status=="ok"){
							alert(res.message)
							parent.location.reload()
							var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
							parent.layer.close(index);
						}else{
							layer.msg(res.message,{icon: 5})
						}
					}
				});
			    return false;
			});
		});
	</script>
</html>
